body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.left {
  padding-left: 10px;
  width: 70px;
}

.middle {
  flex: 1;
  padding-left: 14px;
}

.right {
  padding-right: 10px;
  width: 80px;
}

.pet-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pet-alias {
  color: gray;
  font-size: 22px;
  margin-bottom: 5px;
}

.pet-rep {
  color: gray;
  font-size: 16px;
}

.pet-image {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  object-position: center;
}

button {
  background-color: rgb(62, 145, 238);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 10px 16px;
}
